logLevel = "DEBUG"

defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
  address = ":80"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[api]

[etcd]
endpoint = "10.0.1.12:2379"
watch = true
prefix = "/traefik"